// V1
body {
  font-family: 'grogromedium';
}

a, a:hover, a:visited {
  color: black;
  text-decoration: none;
}

h3 {
  font-size: 45px;

}

h4 {
  font-size: 20px;
  color: #87867C;
  text-decoration: none;
}

.child {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 150px;
}

.langue {
  color: #444444;
  margin-bottom: 30px;
}

.langue:hover {
  color: #1F1E20;
}

// V2
.start-page {
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  width:60vw;

  h1 {
    font-size: 1.3em;
    width:100%;
    text-align: center;
    margin: auto;
  }
  p {
    font-size: 0.9em;
    margin: auto;
  }
  .start-btn {
    width:100%;
    margin: 1em auto 0;
    a {
      padding:0.5em 1em;
      background-color: rgb(255,232,0);
    }
  }
}
