// V1
body {
  font-family: 'grogromedium';
}

a, a:hover, a:visited {
  color: black;
  text-decoration: none;
}

h2 {
  font-size: 1.7em;
  color: #444444;
}

h3 {
  font-size: 45px;
}

h4 {
  font-size: 20px;
  color: #87867C;
  text-decoration: none;
}

.child {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 150px;
}

.langue {
  color: #444444;
  margin-bottom: 30px;
}

.langue:hover {
  color: #1F1E20;
}

// V2
.start-page {
  text-align: center;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  width:60vw;

  h2 {
    text-align: center;
    width:100%;
    text-align: center;
    // margin-left: 100px auto;
  }

  p {
    font-size: 0.9em;
    margin: 30px auto;
    width: 60%;
    text-align: justify;
  }

  .start-btn {
    text-align: center;
    width:100%;
    margin: 4em auto 0;

    a {
      padding:0.5em 1em;
      background-color: rgb(255,232,0);
    }
  }
}

.video {
  color: white;
  margin-left: auto;
  margin-right: auto;
  // background-color: #87867C;

  video {
    width: 80%;
    height: auto;
  }


}
