<section class="container">

    <div class="child">

      <%= link_to asset_path("french.pdf") do %>
        <div class="langue">
          <h3>Bonjour</h3>
          <h4>Cliquez ici</h4>
        </div>
      <% end %>
      <%= link_to asset_path("english.pdf") do %>
        <div class="langue">
          <h3>Hello</h3>
          <h4>Click here</h4>
        </div>
      <% end %>
      <%= link_to asset_path("arab.pdf") do %>
        <div class="langue">
          <h3>‫ر‬ ‫ي‬ ‫خ‬ ‫ل‬ ‫ا‬ ‫ح‬ ‫ا‬ ‫ب‬ ‫ص‬</h3>
          <h4>‫ا‬ ‫ن‬ ‫ه‬ ‫ر‬ ‫ق‬ ‫ن‬ ‫ا‬</h4>
        </div>
      <% end %>
      <%= link_to asset_path("russian.pdf") do %>
        <div class="langue">
          <h3>привет</h3>
          <h4>Нажмите здесь</h4>
        </div>
      <% end %>

    </div>


</section>
