<section class="container">

    <div class="child">

      <%= link_to home_path do %> <!-- asset_path("français.pdf") -->
        <div class="langue">
          <h3>Bonjour</h3>
          <h4>Cliquez ici</h4>
        </div>
      <% end %>
      <%= link_to asset_path("english.pdf") do %>
        <div class="langue">
          <h3>Hello</h3>
          <h4>Click here</h4>
        </div>
      <% end %>
      <%= link_to asset_path("arab.pdf") do %>
        <div class="langue arab">
          <h3>صباح الخير</h3>
          <h4>‫انقر هنا‬</h4>
        </div>
      <% end %>
      <%= link_to asset_path("arab.pdf") do %>
        <div class="langue">
          <h3>привет</h3>
          <h4>Нажмите здесь</h4>
        </div>
      <% end %>
    </div>

</section>
