<section class="container">
  <div>
    <h3>CHOOSE YOUR LANGUAGE</h3>

    <%= link_to asset_path("english.pdf") do %>
      <button type="button" class="btn btn-info">English</button>
    <% end %>

    <%= link_to asset_path("russian.pdf") do %>
    <button type="button" class="btn btn-info">Russian</button>
    <% end %>

    <%= link_to asset_path("french.pdf") do %>
    <button type="button" class="btn btn-info">French</button>
    <% end %>

    <%= link_to asset_path("arab.pdf") do %>
    <button type="button" class="btn btn-info">Arab</button>
    <% end %>

  </div>
</section>
