<section class="container">
  <div class="start-page">
    <div>
      <h2>Bienvenue sur votre guide du réfugié</h4>
      <p>Mon guide du réfugié arrive enfin votre intégration. Grâce à une série de questions,
        vous pourrez accéder à des informations adaptées à vos besoins. Alors, regardez notre vidéo
        explicative pour vous éclairer sur le déroulement des étapes et ainsi démarrer le questionnaire
        en toute facilité.</p>
    </div>

    <div class="start-btn">
      <%= link_to 'DÉMARRER', contents_path %>
    </div>

  </div>
</section>
